<header id="header" class="header" :class="{ 'header--active': menuExpanded }">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__top-content">
                        <div class="header__top-address">
                            {{ headerTop.address }}
                        </div>
                        <div class="header__top-contact">
                            <a href="mailto:{{ headerTop.email }}"
                               class="header__top-contact-link">{{ headerTop.emailTitle }}</a>
                            <a href="mailto:{{ headerTop.phonenumber }}"
                               class="header__top-contact-link">{{ headerTop.phonenumberTitle }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__main">
        <div class="container">

            <div class="col-xs-24">
                <div class="header__main-content">
                    <a href="/" class="header__logo">
                        <img src="/public/images/logo.png" alt="">
                    </a>

                    <nav class="header__nav">

                        {% import _self as macros %}
                        {% set activeNode = craft.navigation.getActiveNode() %}

                        <ul class="header__list">
                            {% for node in craft.navigation.nodes({ handle: 'mainMenu', level: 1 }).all() %}
                                {{ macros.navigationNodes(node) }}
                            {% endfor %}
                        </ul>

                        {% macro navigationNodes(node) %}
                            {% import _self as macros %}

                            <li class="header__list-item">
                                <a href="{{ node.url }}" class="header__list-link {{ node.classes }}">{{ node.title }}</a>

                                {% if node.hasDescendants %}
                                    <ul class="header__sub-list">
                                        {% for subnode in node.children %}
                                            {{ macros.subNavigationNodes(subnode) }}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>

                        {% endmacro %}

                        {% macro subNavigationNodes(node) %}
                            {% import _self as macros %}

                            <li class="header__sub-list-item">
                                <a href="{{ node.url }}" class="header__sub-list-link">{{ node.title }}</a>
                            </li>
                        {% endmacro %}
                    </nav>

                    <a href="#" @click.prevent="menuExpanded = !menuExpanded" class="d-block d-md-none header__hamburger hamburger hamburger--squeeze" :class="{ 'is-active hamburger--inverted': menuExpanded }" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>