<div class="hero">
    <div class="hero__bg b-lazy" data-src="{{ entry.heroImage.one().url }}"></div>

    <div class="hero__content">
        <div class="container">
            <div class="row">
                <div class="col col-xs-24 col-md-18">
                    <h1 class="hero__title">{{ entry.heroTitle }}</h1>
                    <div class="hero__text">
                        {{ entry.heroText }}
                    </div>

                    <div class="hero__buttons">
                        {% if entry.heroButtonOneLink.one() is not null %}
                            <a href="{{ entry.heroButtonOneLink.one().url }}" class="hero__button button">{{ entry.heroButtonOneTitle }}</a>
                        {% endif %}

                        {% if entry.heroButtonTwoLink.one() is not null %}
                            <a href="{{ entry.heroButtonTwoLink.one().url }}" class="hero__button button button--white">{{ entry.heroButtonTwoTitle }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>