<div class="text-block">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xs-24 col-md-11">
                <div class="text-block__content">
                    <h2 class="text-block__title">{{ entry.textBlockTitle }}</h2>
                    <div class="text-block__text">
                        {{ entry.textBlockText }}
                    </div>
                    <a href="{{ entry.textBlockButtonLink.one() is not null ? entry.textBlockButtonLink.one().url }}"
                       class="text-block__button button">
                        {{ entry.textBlockButtonTitle }}
                        <svg width="32" height="32" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xs-24 col-md-12">
                <div class="text-block__image-wrapper">
                    <img class="text-block__image b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ entry.textBlockImage.one().getUrl('textBlockImage') }}"
                         alt="{{ entry.textBlockTitle }}">
                </div>
            </div>
        </div>
    </div>
</div>
