<div class="usps">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="h2 h2--lined usps__title">{{ entry.uspBlockTitle }}</h2>
                <p class="usps__text">{{ entry.uspBlockText }}</p>
            </div>
        </div>

        <div class="usps__list">
            <div class="row">

                {% set usps = entry.usps.all() %}
                {% for usp in usps %}
                    <div class="col-xs-24 col-sm-12 col-lg-6">
                        <a href="#" class="usps__block">
                            <span class="usps__block-bg b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ usp.uspBackground.one().url }}"></span>
                            <div class="usps__block-content">
                                <h3 class="usps__block-title">{{ usp.uspTitle }}</h3>
                                <p class="usps__block-text">{{ usp.uspText }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>